body{
    background-color: blue;
    color: white;
}

.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 5px 0;
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 50px;
    height: 100%;
    width: 250px;
    background-color: #1e1e1e;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 25px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #333;
}