/* Banner Flores */
.banner {
  background-color: rgb(27, 27, 27);
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.galeria {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.imagem-container {
  position: relative;
  width: 100%;
}

.imagem-container img {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  transition: opacity 0.8s ease;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titulo h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0 4px 10px rgba(0,0,0,0.7);
  font-family: 'Georgia', serif;
  letter-spacing: 3px;
}

/* Botões */
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.seta.esquerda {
  left: 20px;
}

.seta.direita {
  right: 20px;
}

.seta:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Conteúdo */
.conteudo{
  background-color: rgb(27, 27, 27);
  color: white;
}

.conteudo .box-titulo{
  font-size: 40px;
}

.box-titulo{
  display: inline-block;
  background-color:  rgb(17, 48, 17);
  padding: 10px 20px;
}